body {
    background-color: #E6E2DF;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding-bottom: 2em;

}

p {
    margin: 0 auto 0.5em;
    font-size: 1.1rem;
    letter-spacing: .7px;
}

.logo {
    margin-inline: auto;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 100px;
}

#models-btns-parent, .individual-results-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    flex-wrap: wrap;
}

#models-btns-parent {
    margin-block: 2em;
}

.individual-results-parent {
    margin: auto;
    width: 90%;
    height: 100px;
}

#btns-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    flex-wrap: wrap;
}

.model, #next, #previous {
    border: 3px solid black;
    background-color: transparent;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.6px;
    outline: none;
    padding-block: 0.3em;
    padding-inline: 0.6em;
    border-radius: 5px;
    cursor: pointer;
}

.model:hover, #next:hover, #previous:hover {
    border: 3px solid white;
    background-color: black;
    color: white;
}

#next:disabled, #previous:disabled {
    cursor: not-allowed;
}

.card {
    text-align: center;
    background-color: #FFF5EE;
    width: 90%;
    padding-block: 1.5em;
    padding-inline: 1em;
    border-radius: 5px;
    margin-inline: auto;
}

.bold {
    font-weight: 700;
}

#cards-parent {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

@media (min-width: 380px) {
    .card {
        width: 320px;
    }
    .model, #next, #previous {
        font-size: 1.1rem;
        padding-block: 0.5em;
        padding-inline: 1em;
    }
}
@media (min-width: 650px) {
    p {
        font-size: 1.2rem;
    }
    #cards-parent {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        margin-inline: unset;
    }
}