body {
    background-color: #E6E2DF;
}
main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 2em;
}

h1 {
    text-align: center;
}
p {
    margin: 0 auto 0.5em;
}
.logo {
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 100px;
}
#models-btns-parent, .individual-results-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    flex-wrap: wrap;
    border: 1px solid rebeccapurple;
}
#models-btns-parent {
    margin-block: 2em;
}
.individual-results-parent {
    height: 80px;
}
#btns-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    flex-wrap: wrap;
}
.model, #next, #previous {
    border: 2px solid black;
    background-color: transparent;
    color: black;
    font-weight: bold;
    letter-spacing: 0.6px;
    outline: none;
    padding-block: 0.5em;
    padding-inline: 1em;
    border-radius: 5px;
    cursor: pointer;
}
.model:hover, #next:hover, #previous:hover {
    border: 2px solid white;
    background-color: black;
    color: white;
}
.card {
    text-align: center;
    background-color: #FFF5EE;
    width: 100%;
    padding-block: 1em;
    border-radius: 5px;
    padding: 1em;
}
.bold {
    font-weight: bold;
}
#cards-parent {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */ 
    gap: 2em;
}

@media (min-width: 350px) {
    .card {
        width: 90%;
    }
}
@media (min-width: 380px) {
    .card {
        width: 320px;
    }
}
@media (min-width: 650px) {
    #cards-parent {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}